#Conhecendo nosso arquivo - Descoberta guiada

Abra o arquivo csv do titanic e carregue em um dataframe.

https://www.harve.com.br/praticas/titanic-pt-BR.csv

In [ ]:
import pandas as pd

df_titanic = pd.read_csv('https://www.harve.com.br/praticas/titanic-pt-BR.csv')

df_titanic.head()

,Id do passageiro,Sobrevivente,Classe,Nome,Sexo,Idade,Irmaos ou conjuge,Pais ou filhos,Ticket,Tarifa do passageiro,Cabine,Local de embarque
0,1,0,3,"Braund, Mr. Owen Harris",masculino,22.0,1,0,A/5 21171,7.25,NaN,Southampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",feminino,38.0,1,0,PC 17599,712.833,C85,Cherbourg
2,3,1,3,"Heikkinen, Miss. Laina",feminino,26.0,0,0,STON/O2. 3101282,7.925,NaN,Southampton
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",feminino,35.0,1,0,113803,53.1,C123,Southampton
4,5,0,3,"Allen, Mr. William Henry",masculino,35.0,0,0,373450,08.05,NaN,Southampton

#Conhecendo nosso arquivo - Hands on

Carregue um csv de vendas que se encontra no endereço:

"http://www.harve.com.br/praticas/dados_etl.csv"

In [ ]:
df_etl = pd.read_csv("http://www.harve.com.br/praticas/dados_etl.csv", sep = '\t')

df_etl.head()

,Client ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
df_etl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Client ID            2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

#Criando colunas - Descoberta guiada

A partir do dataframe de clientes (dados_etl.csv), crie uma coluna nova que represente a idade atual de cada cliente

In [ ]:
df_etl['Age'] = 2025 - df_etl['Year_Birth']
df_etl.head()

,Client ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt Customer,Recency,MntWines,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,0,0,3,11,1,68
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,0,0,0,3,11,0,71
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,0,0,3,11,0,60
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,0,0,0,3,11,0,41
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,0,0,3,11,0,44

#Criando colunas - Hands on

No dataframe de clientes, crie uma coluna que represente a quantidade de filhos total, independente de ser criança ou adolescente

In [ ]:
df_etl['qtde_filhos'] = df_etl['Kidhome'] + df_etl['Teenhome']
df_etl

,Client ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt Customer,Recency,MntWines,...,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,qtde_filhos
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,0,3,11,1,68,0
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,0,0,3,11,0,71,2
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,0,3,11,0,60,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,0,0,3,11,0,41,1
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,0,3,11,0,44,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,0,0,0,0,0,3,11,0,58,1
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,0,0,1,0,0,3,11,0,79,3
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,1,0,0,0,0,3,11,0,44,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,0,0,0,0,0,3,11,0,69,1
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,0,0,0,0,0,3,11,1,71,2

Crie uma coluna que represente a quantidade de vendas tiveram no total por cliente

In [ ]:
'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases'df_etl.columns

Index(['Client ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income',
       'Kidhome', 'Teenhome', 'Dt Customer', 'Recency', 'MntWines',
       'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response',
       'Age', 'qtde_filhos'],
      dtype='object')

In [ ]:
df_etl['qtde_vendas'] = df_etl['NumDealsPurchases'] + df_etl['NumWebPurchases'] + \
                          df_etl['NumCatalogPurchases'] + df_etl['NumStorePurchases']
df_etl

,Client ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt Customer,Recency,MntWines,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,qtde_filhos,qtde_vendas
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,3,11,1,68,0,25
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,0,3,11,0,71,2,6
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,3,11,0,60,0,21
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,0,3,11,0,41,1,8
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,3,11,0,44,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,0,0,0,0,3,11,0,58,1,18
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,0,1,0,0,3,11,0,79,3,22
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,0,0,0,0,3,11,0,44,0,19
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,0,0,0,0,3,11,0,69,1,23
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,0,0,0,0,3,11,1,71,2,11

#Categoriação de dados - Descoberta guiada

Crie uma coluna que classifique o cliente de acordo com o valor gasto (Income):

Até 20.000 : Baixo

Até 40.000 : Mèdio

Até 60.000 : Alto

Maior que 60.000 : Muito Alto

In [ ]:
def classificar_gasto(valor_gasto):
  if valor_gasto < 20000:
    return 'Baixo'
  elif valor_gasto < 40000:
    return 'Médio'
  elif valor_gasto < 60000:
    return 'Alto'
  elif valor_gasto >= 60000:
    return 'Muito alto'

valor = float(input('Digite o valor'))
x = classificar_gasto(valor)
x

Digite o valor50000

'Alto'

In [ ]:
classificado = []
for i in df_etl['Income']:
  saida_funcao = classificar_gasto(i)
  classificado.append(saida_funcao)

print(classificado)

['Alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Baixo', None, 'Baixo', 'Muito alto', 'Alto', 'Baixo', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Baixo', 'Alto', 'Muito alto', 'Alto', 'Baixo', 'Alto', None, 'Médio', 'Muito alto', 'Baixo', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Médio', None, 'Baixo', 'Muito alto', 'Baixo', 'Alto', None, 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', None, 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', None, 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Alto', None, None, None, 'Alto', 'Médio', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Alto', 'Médio', 'Baixo', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', None, 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', None, 'Alto', 'Muito alto', 'Baixo', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Baixo', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Baixo', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Baixo', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Baixo', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Baixo', 'Alto', 'Baixo', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Baixo', 'Médio', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Baixo', 'Médio', None, 'Muito alto', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Médio', None, 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Baixo', 'Médio', 'Alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Baixo', 'Médio', 'Médio', 'Médio', 'Baixo', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Baixo', 'Médio', 'Baixo', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Baixo', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Baixo', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Baixo', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Baixo', 'Médio', 'Alto', 'Baixo', 'Médio', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Baixo', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Baixo', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Baixo', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Baixo', 'Alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Baixo', 'Médio', 'Alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Baixo', 'Médio', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Baixo', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Baixo', 'Alto', 'Médio', 'Baixo', 'Baixo', 'Alto', 'Médio', 'Médio', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Baixo', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Baixo', 'Muito alto', 'Baixo', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Baixo', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Baixo', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Baixo', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Médio', 'Médio', 'Baixo', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Baixo', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Baixo', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Baixo', 'Alto', 'Alto', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Médio', 'Alto', 'Médio', 'Baixo', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Baixo', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Baixo', 'Médio', 'Alto', 'Alto', 'Alto', 'Baixo', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Baixo', 'Médio', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Baixo', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Alto', 'Alto', 'Baixo', 'Alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Baixo', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Alto', 'Baixo', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Baixo', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Baixo', 'Alto', 'Médio', 'Baixo', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Baixo', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Baixo', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Baixo', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Baixo', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Baixo', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Baixo', 'Alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Baixo', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Baixo', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Baixo', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Baixo', 'Muito alto', 'Alto', 'Muito alto', 'Baixo', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Baixo', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Baixo', 'Baixo', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Baixo', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Baixo', 'Médio', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Baixo', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Baixo', 'Muito alto', 'Médio', 'Alto', 'Baixo', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Baixo', 'Médio', 'Médio', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Baixo', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Baixo', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Médio', 'Alto', 'Alto', 'Alto', 'Alto', 'Médio', 'Alto', None, 'Alto', 'Alto', None, None, 'Médio', 'Muito alto', None, 'Médio', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Baixo', 'Médio', 'Médio', 'Alto', 'Médio', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Baixo', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Baixo', 'Baixo', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Baixo', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Baixo', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Baixo', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Baixo', 'Alto', 'Alto', 'Alto', 'Baixo', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Baixo', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Baixo', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Baixo', 'Médio', 'Muito alto', 'Alto', 'Alto', 'Médio', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Baixo', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Baixo', 'Médio', 'Baixo', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Baixo', 'Alto', 'Baixo', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Baixo', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Baixo', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Baixo', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Alto', 'Baixo', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Médio', 'Baixo', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Baixo', 'Alto', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Médio', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Alto', 'Baixo', 'Baixo', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Médio', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Alto', 'Alto', 'Alto', 'Alto', 'Alto', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Baixo', 'Médio', 'Alto', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Baixo', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Médio', 'Médio', 'Muito alto', 'Médio', 'Muito alto', 'Alto', 'Muito alto', 'Alto', 'Médio', 'Médio', 'Muito alto', 'Muito alto', 'Muito alto', 'Muito alto', 'Médio', 'Alto', 'Muito alto', 'Médio', 'Alto', 'Alto', 'Muito alto', 'Muito alto', 'Alto', 'Muito alto', 'Muito alto', 'Médio', 'Muito al

In [ ]:
df_etl['gasto_classificado'] = df_etl['Income'].apply(lambda x: classificar_gasto(x))
df_etl

,Client ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt Customer,Recency,MntWines,...,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,qtde_filhos,qtde_vendas,gasto_classificado
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,3,11,1,68,0,25,Alto
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,3,11,0,71,2,6,Alto
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,3,11,0,60,0,21,Muito alto
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,3,11,0,41,1,8,Médio
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,3,11,0,44,1,19,Alto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,0,0,0,3,11,0,58,1,18,Muito alto
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,1,0,0,3,11,0,79,3,22,Muito alto
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,0,0,0,3,11,0,44,0,19,Alto
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,0,0,0,3,11,0,69,1,23,Muito alto
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,0,0,0,3,11,1,71,2,11,Alto

#Categoriação de dados - Hands on

Crie uma coluna para categorizar os passageiros do titanic conforme a sua idade. Depois faça a contagem de cada categoria através do value_counts:

Até 10 anos - Criança

Até 20 anos - Jovem

Até 60 anos - Adulto

Mais de 60 anos - Idoso

In [ ]:
def classificar_idade(idade):
  if idade <= 10:
    return 'Criança'
  elif idade <= 20:
    return 'Jovem'
  elif idade <= 60:
    return 'Adulto'
  elif idade > 60:
    return 'Idoso'

df_titanic['idade_classificada'] = df_titanic['Idade'].apply(lambda x: classificar_idade(x))

df_titanic

,Id do passageiro,Sobrevivente,Classe,Nome,Sexo,Idade,Irmaos ou conjuge,Pais ou filhos,Ticket,Tarifa do passageiro,Cabine,Local de embarque,idade_classificada
0,1,0,3,"Braund, Mr. Owen Harris",masculino,22.0,1,0,A/5 21171,7.25,NaN,Southampton,Adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",feminino,38.0,1,0,PC 17599,712.833,C85,Cherbourg,Adulto
2,3,1,3,"Heikkinen, Miss. Laina",feminino,26.0,0,0,STON/O2. 3101282,7.925,NaN,Southampton,Adulto
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",feminino,35.0,1,0,113803,53.1,C123,Southampton,Adulto
4,5,0,3,"Allen, Mr. William Henry",masculino,35.0,0,0,373450,08.05,NaN,Southampton,Adulto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",masculino,27.0,0,0,211536,13,NaN,S,Adulto
887,888,1,1,"Graham, Miss. Margaret Edith",feminino,19.0,0,0,112053,30,B42,S,Jovem
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",feminino,NaN,1,2,W./C. 6607,23.45,NaN,S,None
889,890,1,1,"Behr, Mr. Karl Howell",masculino,26.0,0,0,111369,30,C148,C,Adulto
890,891,0,3,"Dooley, Mr. Patrick",masculino,32.0,0,0,370376,7.75,NaN,Q,Adulto

#Tratando valores nulos - Descoberta guiada

In [ ]:
df_etl.isna().sum()

Client ID               0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
Age                     0
qtde_filhos             0
qtde_vendas             0
gasto_classificado     24
dtype: int64

In [ ]:
df_etl = df_etl.dropna(subset=['gasto_classificado'])
df_etl.isna().sum()

Client ID              0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
Age                    0
qtde_filhos            0
qtde_vendas            0
gasto_classificado     0
dtype: int64

In [ ]:
df_titanic['cabine_tratado'] = df_titanic['Cabine'].fillna('Desconhecido')
df_titanic

,Id do passageiro,Sobrevivente,Classe,Nome,Sexo,Idade,Irmaos ou conjuge,Pais ou filhos,Ticket,Tarifa do passageiro,Cabine,Local de embarque,idade_classificada,cabine_tratado
0,1,0,3,"Braund, Mr. Owen Harris",masculino,22.0,1,0,A/5 21171,7.25,NaN,Southampton,Adulto,Desconhecido
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",feminino,38.0,1,0,PC 17599,712.833,C85,Cherbourg,Adulto,C85
2,3,1,3,"Heikkinen, Miss. Laina",feminino,26.0,0,0,STON/O2. 3101282,7.925,NaN,Southampton,Adulto,Desconhecido
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",feminino,35.0,1,0,113803,53.1,C123,Southampton,Adulto,C123
4,5,0,3,"Allen, Mr. William Henry",masculino,35.0,0,0,373450,08.05,NaN,Southampton,Adulto,Desconhecido
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",masculino,27.0,0,0,211536,13,NaN,S,Adulto,Desconhecido
887,888,1,1,"Graham, Miss. Margaret Edith",feminino,19.0,0,0,112053,30,B42,S,Jovem,B42
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",feminino,NaN,1,2,W./C. 6607,23.45,NaN,S,None,Desconhecido
889,890,1,1,"Behr, Mr. Karl Howell",masculino,26.0,0,0,111369,30,C148,C,Adulto,C148
890,891,0,3,"Dooley, Mr. Patrick",masculino,32.0,0,0,370376,7.75,NaN,Q,Adulto,Desconhecido

Descubra os valores nulos da tabela de vendas e exclua os itens vazios.

In [ ]:
df_etl = df_etl.dropna()
df_etl

,Client ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt Customer,Recency,MntWines,...,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,qtde_filhos,qtde_vendas,gasto_classificado
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,3,11,1,68,0,25,Alto
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,3,11,0,71,2,6,Alto
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,3,11,0,60,0,21,Muito alto
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,3,11,0,41,1,8,Médio
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,3,11,0,44,1,19,Alto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,0,0,0,3,11,0,58,1,18,Muito alto
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,1,0,0,3,11,0,79,3,22,Muito alto
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,0,0,0,3,11,0,44,0,19,Alto
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,0,0,0,3,11,0,69,1,23,Muito alto
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,0,0,0,3,11,1,71,2,11,Alto

#Tratando valores nulos - Hands on

Descubra os registros que estão sem local de embarque entre os passageiros do titanic e exlua eles.

In [ ]:
df_titanic.isna().sum()

Id do passageiro          0
Sobrevivente              0
Classe                    0
Nome                      0
Sexo                      0
Idade                   177
Irmaos ou conjuge         0
Pais ou filhos            0
Ticket                    0
Tarifa do passageiro      0
Cabine                  687
Local de embarque         2
idade_classificada      177
cabine_tratado            0
dtype: int64

In [ ]:
df_titanic = df_titanic.dropna(subset=['Local de embarque'])
df_titanic.isna().sum()

Id do passageiro          0
Sobrevivente              0
Classe                    0
Nome                      0
Sexo                      0
Idade                   177
Irmaos ou conjuge         0
Pais ou filhos            0
Ticket                    0
Tarifa do passageiro      0
Cabine                  687
Local de embarque         0
idade_classificada      177
cabine_tratado            0
dtype: int64

Preencha os registros com idade nula com a média de idade dos passageiros.

In [ ]:
media = df_titanic['Idade'].mean()

df_titanic['Idade_sem_nulo'] = df_titanic['Idade'].fillna(media)

df_titanic.isna().sum()

<ipython-input-69-a69a109606e9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_titanic['Idade'] = df_titanic['Idade'].fillna(media)

Id do passageiro          0
Sobrevivente              0
Classe                    0
Nome                      0
Sexo                      0
Idade                     0
Irmaos ou conjuge         0
Pais ou filhos            0
Ticket                    0
Tarifa do passageiro      0
Cabine                  687
Local de embarque         0
idade_classificada      177
cabine_tratado            0
dtype: int64

#Apagando colunas - Descoberta guiada

Crie um dataframe temporário e apague a coluna Cabine do titanic

#Apagando colunas - Hands on

Crie um dataframe temporário e apague a coluna Ticket do titanic

#Bootcamp - Hands on

Quantos títulos da netflix que você assiste são  filmes e quantos são séries?
Qual dia da semana você mais assiste netflix e qual você vê menos? E qual a porcentagem?
http://www.harve.com.br/praticas/NetflixViewingHistory.csv

0 : Segunda 1 : Terça 2 : Quarta 3 : Quinta 4 : Sexta 5 : Sábado 6 : Domingo

In [ ]:
'c' in 'Claucio'

In [1]:
import pandas as pd

df_netflix = pd.read_csv('http://www.harve.com.br/praticas/NetflixViewingHistory.csv')
df_netflix

                                            Title        Date
0                      Dentro da Mente de um Gato  23/08/2022
1                              A Estrela de Belém  05/08/2022
2                                        La Bamba  24/07/2022
3                     Arremesso Final: Episódio 3  17/07/2022
4                     Arremesso Final: Episódio 2  17/07/2022
..                                            ...         ...
306                     Tudo Bem No Natal Que Vem  05/12/2020
307  Explicando - A Mente: Temporada 1: Meditação  05/12/2020
308  Explicando - A Mente: Temporada 1: Ansiedade  05/12/2020
309     Explicando - A Mente: Temporada 1: Sonhos  05/12/2020
310    Explicando - A Mente: Temporada 1: Memória  05/12/2020

[311 rows x 2 columns]

In [4]:
if 'verduras' in 'eu como frutas':
  print ("ok")
else
  print ("não ok")

SyntaxError: invalid syntax (<ipython-input-4-47b54e231d6b>, line 3)

#Montando URL - Descoberta guiada

Monte a URL para acessar

Site: https://hgbrasil.com/

Documentação: https://console.hgbrasil.com/documentation/weather

API:https://api.hgbrasil.com/

Rota:weather?

Parâmetros:woeid=455827&key={chave}

In [ ]:
tempo ='https://api.hgbrasil.com/weather?woeid=455827&key={chave}'

#Montando URL - Hands on

Monte a URL para acessar as cotações do dia

Site: https://hgbrasil.com/

API:https://api.hgbrasil.com/

Rota:finance?

Parâmetros:key={chave}

Caso não tenha chave, use a seguinte: 3b9b39d6

#Executando envio api's - Descoberta guiada

Qual foi o preço de compra em dolar hoje a partir do real?

#Executando envio api's - Hands on

Qual é a valocidade do vento nesse momento em São Paulo?

Qual é a previsão máxima e mínima de temperatura para São Paulo amanhã?

#Tranformando data - Descoberta guiada

* Transforme a data de hoje para timestamp
* Quantos dias temos entre a abertura da copa de 2022 (20/11/2022) até o encerramento dela (18/12/2022)?

#Tranformando data - Hands on


Se você pegar a data atual e diminuir 90 dias dela, qual será a data resultado?

#Identificando colunas - Descoberta guiada

Gere os nomes das colunas conforme seus significados: 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOLUME' a partir dos dados de variação de cotação de dolar para bitcoin de um excel da binance (https://harve.com.br/praticas/binance.xls)

#Identificando colunas - Hands on

Traduza as colunas do dataframe da previsão do tempo considerando as colunas:
date	weekday	max	min	cloudiness	rain	rain_probability	wind_speedy	description	condition

INDEX              int64
TIME      datetime64[ns]
OPEN             float64
HIGH             float64
LOW              float64
CLOSE            float64
VOLUME           float64
dtype: object

#Tratando conteúdo dataframe - Descoberta guiada

Transforme as colunas open, high,low, close e volume para float com duas casas decimais

#Tratando conteúdo dataframe - Hands on

Arredondar a coluna chuva retirando a casa decimal

Index(['data', 'dia da semana', 'max', 'min', 'nebolusidade', 'chuva',
       'probabilidade de chuva', 'velocidade do vento', 'descrição',
       'condição'],
      dtype='object')

Faça um código que descobre qual é o dia em que a velocidade do vento estará mais alta

#Bootcamp

Usando a api financeira do hgbrasil, retorne a conversão de hoje de real para dolar. Permita ao usuário colocar o valor em reais via input e imprima o valor em dolar.

#Exportando para csv - Descoberta guiada

Exporte os dados do binance para um arquivo csv

#Credenciais para banco de dados - Descoberta guiada

Criando conexão para salvar os dados de previsão de tempo em um banco de dados mysql incluindo as colunas dia, temperatura, descricao_temperatura e cidade.

Bibliotecas: pymysql sqlalchemy

Dados de acesso: credenciais = { "username": "alunoharve", "password": "Ed&ktw35j", "hostname": "ip-45-79-142-173.cloudezapp.io", "port": 3306, "database" : "harve_alunos_sql" }

Exemplo de string de conexão: STRING_DE_CONEXAO = "mysql+pymysql://"+credenciais["username"]+":"+credenciais["password"]+"@"+credenciais["hostname"]+":"+str(credenciais["port"])+"/"+credenciais["database"]

#Escrevendo em um banco de dados - Descoberta guiada

Insira a tabela de previsão de tempo no banco de dados, definindo como
nome da tabela: nome_previsao_tempo

    date weekday  max  min  humidity  cloudiness  rain  rain_probability  \
0  16/07     Ter   12   10        96       100.0  0.34                42
1  17/07     Qua   20   12        63        53.0  0.00                 0
2  18/07     Qui   22   11        51         0.0  0.00                 0
3  19/07     Sex   23   11        49         0.0  0.00                 0
4  20/07     Sáb   24   12        38         0.0  0.00                 0
5  21/07     Dom   24   11        39         1.0  0.00                 0
6  22/07     Seg   26   14        35        12.0  0.00                 0
7  23/07     Ter   27   15        32        62.0  0.00                 0
8  24/07     Qua   25   14        34       100.0  0.00                 0
9  25/07     Qui   26   15        29        91.0  0.00                 0

  wind_speedy   sunrise    sunset      moon_phase           description  \
0   2.59 km/h  07:01 am  05:44 pm  waxing_gibbous       Chuvas esparsas
1   1.82 km/h  07:01 am  05:44 pm  waxing_gibbous         Tempo nublado
2   2.55 km/h  07:01 am  05:45 pm  waxing_gibbous           Tempo limpo
3   2.27 km/h  07:00 am  05:45 pm            full           Tempo limpo
4   1.96 km/h  07:00 am  05:46 pm            full           Tempo limpo
5    2.5 km/h  07:00 am  05:46 pm            full           Tempo limpo
6    2.5 km/h  06:59 am  05:47 pm            full  Parcialmente nublado
7   1.89 km/h  06:59 am  05:47 pm  waning_gibbous         Tempo nublado
8   3.09 km/h  06:58 am  05:48 pm  waning_gibbous         Tempo nublado
9    2.6 km/h  06:58 am  05:48 pm  waning_gibbous         Tempo nublado

     condition
0         rain
1  cloudly_day
2    clear_day
3    clear_day
4    clear_day
5    clear_day
6  cloudly_day
7  cloudly_day
8  cloudly_day
9  cloudly_day

Insira a tabela de ações no banco de dados, definindo como nome da tabela: nome_acoes

#Lendo dados em um banco de dados - Descoberta guiada

Selecione os dias da tabela de previsao_tempo no banco de dados, onde a probabilidade de chuva é maior que 90 (usar consulta em sql)

          TIME     OPEN     HIGH      LOW    CLOSE        VOLUME
0   2017-08-17  4261.48  4485.39  4200.74  4285.08    795.150377
1   2017-08-18  4285.08  4371.52  3938.77  4108.37   1199.888264
2   2017-08-19  4108.37  4184.69  3850.00  4139.98    381.309763
3   2017-08-20  4120.98  4211.08  4032.62  4086.29    467.083022
4   2017-08-21  4069.13  4119.62  3911.79  4016.00    691.743060
..         ...      ...      ...      ...      ...           ...
495 2018-12-25  4010.11  4020.00  3646.41  3745.79  62725.629432
496 2018-12-26  3745.56  3837.15  3656.74  3777.74  42629.375817
497 2018-12-27  3777.74  3813.98  3535.00  3567.91  44097.392912
498 2018-12-28  3567.89  3887.25  3540.04  3839.26  45964.304987
499 2018-12-29  3839.00  3892.00  3670.00  3695.32  38874.373903

[500 rows x 6 columns]

#Lendo dados em um banco de dados - Hands on

Carregue em um dataframe, os jogadores da tabela fifanova onde o potencial dos jogadores é maior que oitenta

,ID,NOME,IDADE,NACIONALIDADE,PONTUACAO_GERAL,POTENCIAL,TIME,VALOR,REMUNERACAO,PERNA_DE_PREFERÊNCIA,...,EMPRESTADO_DE_,VALIDADE_DO_CONTRATO,ALTURA,PESO,CONTROLE_DE_BOLA,ARRANCADA,AGILIDADE,EQUILÍBRIO,ENERGIA,FORCA
0,230271,Laure Santeiro,30,Brazil,81,81,Fluminense,€17M,€40K,Esquerda,...,None,2021,5'7,139lbs,82.0,86.0,89.0,88.0,67.0,48.0
1,216475,Morales,30,Spain,81,81,Levante UD,€17M,€33K,Direita,...,None,2021,5'11,154lbs,83.0,88.0,78.0,80.0,82.0,60.0
2,207664,C. Bacca,31,Colombia,81,81,Villarreal CF,€16M,€45K,Direita,...,None,2022,5'11,170lbs,80.0,73.0,73.0,77.0,66.0,74.0
3,202857,K. Bellarabi,28,Germany,81,81,Bayer 04 Leverkusen,€18M,€76K,Direita,...,None,2021,6'0,179lbs,83.0,90.0,86.0,78.0,73.0,68.0
4,200647,J. Iličić,30,Slovenia,81,81,Atalanta,€17M,€41K,Esquerda,...,None,2021,6'3,174lbs,87.0,67.0,70.0,56.0,64.0,74.0

#Bootcamp

Adicione estados unidos, groelandia e canadá no dataframe e salva uma tabela nova com o nome "paises_novos_seunome".

Dica: Use a função concat do pandas para somar seu dataframe novo com o atual do banco de dados.Use o padrão ISO 3166-2.